body{
    display: flex;
    width: 1200px;
}
#head-text{
    display:flex;
    justify-content: center;
}
.country-page{
    flex-grow: 0;
    flex-shrink: 1;
}
.map-of-the-world{
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 1;
}
.country-container{
    display:flex;
    margin: 30px;
    background-color: lightgray;
    font-size: 20px;
    border: 1px solid black;
    padding: 15px;
    list-style: none;
}
li {
    display:flex;
    flex-direction:column-reverse;
    order: 3;
}

